// Viewport
$xtra-small-viewport: 575.98px;
$small-viewport: 767.98px;
$medium-viewport: 991.98px;
$large-viewport: 1199.98px;

// Colors
:root {
    --black: #000000;
    --cyan: #288888;
    --dark-gray: #666666;
    --gray: #999999;
    --light-gray: #aaaaaa;
    --lighter-gray: #eeeeee;
    --white: #ffffff;
    --ghost-white: #f8f8ff;
    --blue: #077bff;
    --light-blue: #4ec1ec;
    --green: #76b852;
}